swagger: "2.0"
info:
  title: Identities microsservice
  description: Microsservice API responsible about all identities core data
  version: 0.1.0

host: identities.dakasa.com
basePath: /api
schemes:
  - http
  - https

paths:
  /register:
    post:
      summary: Sign up user in service
      consumes:
        - application/json
      parameters:
        - in: body
          name: register
          description: The register body
          schema:
            $ref: '#/definitions/Register'
      responses:
        201:
          description: Created user with success
        400:
          description: The user sent some bad data in form
        409:
          description: users with respective email, username or phone number already exists
        500:
          description: Unexpected error occurs in internal server

  /login:
    post:
      summary: Sign in user
      consumes:
        - application/json
      parameters:
        - in: body
          name: login
          description: The login body
          schema:
            $ref: '#/definitions/Login'
      responses:
        200:
          description: Logged in with success
          headers:
            X-JWT: 
              type: string
              description: Token to grant access to user in restrict services
        400:
          description: requested body reaches malformed
        403:
          description: users credential are incorrect
        500:
          description: Occurs unexpected internal error

  /recovery:
    post:
      summary: Open recovery account process
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: recovery
          description: The recovery body
          schema:
            $ref: '#/definitions/Recovery'
      responses:
        201:
          description: Created ticket recovery with success
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ticket recovery ID
        400:
          description: requested body reaches malformed
        404:
          description: user not found
        500:
          description: Occurs unexpected internal error
        503:
          description: Email service is unavailable and fails in sent recovery message.
  
  /chall-recovery:
    post:
      summary: Checks if who request recovery ticket are the account's owner
      consumes:
        - application/json
      parameters:
        - in: body
          name: chall
          description: The challenge recovery body
          schema:
            $ref: '#/definitions/Chall'
      responses:
        200:
          description: Recovery account with success
        400:
          description: requested body reaches malformed
        403:
          description: incorrect validation number
        410:
          description: Recovery ticket has been expired
        500:
          description: Occurs unexpected internal error

definitions: 
  Register:
    type: object
    required:
      - name
      - username
      - email
      - password
      - birthday
      - phoneNumber
    properties:
      name:
        type: string
      username:
        type: string
      email:
        type: string
        example: user@mail.com
      password:
        type: string
      birthday:
        type: string
        format: date
      phoneNumber:
        type: integer
        example: 912345678
      address:
        type: string
        example: Rua dos desenvolvedores, N 1024, Brasil, 01010-101
      avatar:
        type: string
        example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA...
  Login:
    type: object
    required:
      - password
    properties:
      email:
        type: string
        example: user@mail.com
      username:
        type: string
      password:
        type: string
  Recovery:
    type: object
    properties:
      phoneNumber:
        type: integer
        example: 912345678
      email:
        type: string
        example: user@mail.com
      username:
        type: string
  Chall:
    type: object
    required:
      - password
      - status
    properties:
      password:
        type: string
      status:
        type: object
        required:
          - ticket
          - validation
        properties:
          ticket:
            type: string
            format: uuid
          validation:
            type: object
            required:
              - tmp
            properties:
              tmp:
                type: string
                example: "123456"